<h1 class="ms-3 mt-3" >Stupid Coaching</h1>

<form action="/answer"data-turbo="false" method="get">
  <label for="question" class="form-label ms-3 mt-3">Ask your coach anything</label>
  <div class="ms-3 mb-3 d-flex">
    <input type="text" class="form-control w-50" name="question" id="question" aria-describedby="emailHelp">
    <button type="submit" class="btn btn-primary w-15">Ask</button>
  </div>
</form>
